@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,500&subset=latin-ext);

body, html{
    margin: 0;
    padding: 0;
    background: #000;
    height: 100%;
    overflow: hidden;
}

*{
    font-family:"Roboto";
}

*::selection{
    background: transparent;
}

body > div,canvas{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid #000;
}

body > div{
    display: none;
}

#startScreen{
    display: block;
    background: transparent;
    color: #fff;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

#points, #lifes, #version{
    position:absolute;
    top: 0px;
    left: 0px;
    color: #fff;
    font-size:1.3rem;
    padding: .1rem 1rem;
    min-width: 100px;
    background: #1a417c;
    border: 2px solid #4b7ed7;
    box-shadow: 0 0 .5rem rgba(75,124,226,0.75);
}

#points{
    border-top: none;
    border-left: none;
    border-radius: 0 0 40px 0;
}

#lifes{
    left: auto;
    right: 00px;
    border-top: none;
    border-right: none;
    border-radius: 0 0 0 40px;
    text-align:right;
}

#lifes #lifes_p{
    margin-left: 10px;
}

#version{
    left: auto;
    top: auto;
    bottom: 0;
    right: 0;
    border-bottom: none;
    border-right: none;
    border-radius: 40px 0 0 0;
    text-align:right;
}

#restart, #startMenu, #optionsMenu, #statScreen{
    min-width: 300px;
    height: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    color: #555;
    z-index: 50;
    margin: 0;
    padding: 0;
    transition: .3s linear;
}

#startMenu li, #optionsMenu li{
    list-style: none;
    display:block;
    width: 100%;
    padding: .5rem 0;
}

#optionsMenu li:first-of-type{
    padding: 0;
    margin: 0;
}

#startMenu li:hover{
    background: #673AB7;
    color: #fff;
}

#startMenu, #optionsMenu, #statScreen{
    opacity:0;
}

#statScreen{
    width: 90%;
    z-index: 51;
    height: 90%;
    opacity: 1;
}

#loader{
    width: 400px;
    height: 30px;
    background: #fff;
    border: 2px solid #673AB7;
    position:absolute;
    left: 37%;
    top: 70%;
    transform = "translate(-50%,-50%)";
}

#progress{
    width: 0%;
    height: 100%;
    background: #673AB7;
    transition: all .5s linear;
}

.header{
    height: 10px;
    background: #673AB7;
    color: #fff;
    margin:  0 0 10px 0;
    padding: 0 10px;
}

input[type=checkbox] {
	visibility: hidden;
}

.checkbox {
	width: 80px;
	height: 26px;
	background: #333;
	margin: 0px 10px 20px 10px;
    float: left;
	border-radius: 50px;
	position: relative;
	background: #fff;
    border: 2px solid #673AB7;
}

.text{
    float: left;
    color: #673AB7;
    padding-top: .3rem;
}

.checkbox:after {
	content: 'OFF';
	font: 12px/26px Roboto, sans-serif;
	color: #673AB7;
	position: absolute;
	right: 10px;
	z-index: 0;
	font-weight: bold;
	text-shadow: 1px 1px 0px rgba(255,255,255,.15);
}

.checkbox:before {
	content: 'ON';
	font: 12px/26px Roboto, sans-serif;
	color: #673AB7;
	position: absolute;
	left: 10px;
	z-index: 0;
	font-weight: bold;
}

.checkbox label {
	display: block;
	width: 34px;
	height: 20px;
	border-radius: 50px;
	transition: all .2s ease;
	cursor: pointer;
	position: absolute;
	top: 3px;
	left: 3px;
	z-index: 1;
	background: #673AB7;
	
}

.checkbox input[type=checkbox]:checked + label {
	left: 43px;
}